---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<div
			class="bg-no-repeat bg-cover bg-center h-screen"
			style="background-image: url('https://blz-contentstack-images.akamaized.net/v3/assets/bltf408a0557f4e4998/blt42222a015642b85c/60d38b7ca13cde67981b0c1e/25857-1.png?imwidth=520&imdensity=2.625');"
		>
			<div class="h-screen flex items-center justify-center">
				<div class="bg-white p-6 w-150 h-auto shadow-lg rounded-lg">
					<div class="bg-red-500 w-96 float-right">
						<h1 class="text-3x1 font-bold text-center text-gray-500 mb-4">
							Warcraft III: Reforged
						</h1>
						<div class="flex justify-center">
							<a
								href="https://en.wikipedia.org/wiki/File:Warcraft_III_Reforged_Logo.png"
							>
								<img
									src="https://upload.wikimedia.org/wikipedia/en/4/4f/Warcraft_III_Reforged_Logo.png?20191125000449"
								/>
							</a>
						</div>
					    <div class="flex" >
							<div class="w-45 mr-4">Developer(s)</div> <div class="w-full">     Blizzard Entertainment <br>Lemon Sky Studios[1]</div>


						</div>
						<div class="flex" >
							<div class="w-45 mr-4">Publisher(s)</div> <div class="w-full">    lizzard Entertainment]</div>


						</div><div class="flex" >
							<div class="w-45 mr-4">Producer(s))</div> <div class="w-full">    Pete Stillwell[2]</div>


						</div>
					<div class="flex" >
						<div class="w-45 mr-4">Designer(s)</div> <div class="w-full">    Matt Morris[3]</div>


					</div>
					<div class="flex" >
						<div class="w-45 mr-4">Series</div> <div class="w-full">      Warcraft</div>


					</div>
					<div class="flex" >
						<div class="w-45 mr-4">Platform(s)</div> <div class="w-full">     Microsoft Windows</div>


					</div>
					<div class="flex" >
						<div class="w-45 mr-4">Release</div> <div class="w-full">     <details>
							<summary></summary>
							January 28, 2020
						</details></div>


					</div><div class="flex" >
						<div class="w-45 mr-4">Genre(s)</div> <div class="w-full">     Real-time strategy</div>


					</div><div class="flex" >
						<div class="w-45 mr-4">Mode(s)</div> <div class="w-full">     Microsoft Windows</div>


					</div>
					</div>
					<h1
						class="text-2xl font-bold text-center text-gray-700 mb-4"
					>
						Warcraft III: Reforged
					</h1>
					<p class="text-lg text-gray-500">
						Warcraft III: Reforged is a remastered edition of the
						2002 real-time strategy video game Warcraft III: Reign
						of Chaos and its expansion The Frozen Throne. <br />
						Released on January 28, 2020, it adds revamped graphics,
						new campaign gameplay settings as well as modern online Battle.net
						features. <br />
						The game received mixed reviews from critics and an overwhelmingly
						negative reception from players due to its changes from the
						original, the lack of many announced features, and technical
						issues.<br />

						Gameplay<br />

						This section needs to be updated. Please help update
						this article to reflect recent events or newly available
						information. (February 2020)<br />
						Reforged retains the gameplay of the original, but its development
						has spurred on further balance changes to the game's multiplayer.
						<br />Players from the original client are able to
						access and play with Reforged players by being given
						access to the new client (after they have purchased the
						product). <br />There is a Classic Graphics setting
						available without purchase for those owning a classic
						license. Similar to StarCraft: Remastered, it uses the
						textures of the original release.<br /> Users can unlock
						profile icons based on per-race ratings. The campaign's missions
						were visually updated to reflect World of Warcraft, however,
						the map of Azeroth and heroes' appearances were still kept
						closer to the original Warcraft III concepts than to those
						appearing in WoW.<br /> Moreover, there are certain features
						missing from Reforged, such as the competitive ladder, classic
						animated backgrounds and replay saving option. Some of them
						are expected to be added in upcoming patches.<br /> However,
						some have not been included, like the "Clans" social system,
						which has not been mentioned by Blizzard. The campaign now
						has three difficulty settings, one of them is the "story
						mode" aimed at newcomers.
					</p>
				</div>
			</div>
			
		</div>
	</main>
</Layout>
