---
interface Props {
	title: string;
	table:{
		q: string,
		a: string
	}[]
}

const { title, table } = Astro.props;
---

					<div class="bg-white w-[31rem] float-right relative">	
						<img src="top.png" class="absolute w-full top-0 left-0 z-5"/>
						<img src="bottom.png" class="absolute w-full bottom-0 left-0 z-5"/>
						<img src="between.png" class="absolute w-full -translate-y-1/2 top-1/2 h-[calc(101.5%-233.5px-241.34px)] z-0"/>
						<div class="w-80 mx-auto mt-36 mb-40 py-2">
						<h1 class="text-3x1 font-bold text-center text-gray-500 mb-4">
							{title}
						</h1>
						<div class="flex justify-center">
							<a
								href="https://en.wikipedia.org/wiki/File:Warcraft_III_Reforged_Logo.png"
							>
								<img
									src="https://upload.wikimedia.org/wikipedia/en/4/4f/Warcraft_III_Reforged_Logo.png?20191125000449"
								/>
							</a>
						</div>
	{table.map((t)=> <div class="flex" >
								<div class="w-45 mr-4">{t.q}</div> <div class="w-full">     {t.a}</div>
							</div>
	)}
						</div>
					</div>
