---

---

		<header class="bg-blue-600 text-white py-4">
			<div class="max-w-7xl mx-auto px-6 flex items-center justify-between">
				<!-- Логотип -->
				<div class="text-2xl font-bold">
					<a href="/" class="text-white">Warcraft 3</a>
				</div>
	
				<!-- Меню + ссылка на источник -->
				<nav>
					<ul class="flex space-x-6">
						<li><a href="/" class="hover:text-gray-300 transition">Главная</a></li>
						<li><a href="https://en.wikipedia.org/wiki/Warcraft_III:_Reign_of_Chaos" class="hover:text-gray-300 transition">Warcraft3 reforget wiki</a></li>


					</ul>
				</nav>
				</div>
			</div>
		</header>
